body {
  margin: 0;
  padding: 0;
  background-color: #adacac;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

main h2 {
  text-align: center;
  font-family: fangsong;
  font-size: 27px;
}

.section {
  margin: 20px auto;
  padding: 20px;
  max-width: 70%;
  border: 1px solid gray;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.section h3:first-child {
  font-size: 21px;
  margin: 0 0 10px;
  font-weight: normal;
  color: #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.section h3:not(:first-child) {
  font-size: 20px;
  margin: 20px 0 10px;
  font-weight: normal;
  color: #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.section button {
  background-color: #666;
  color: #fff;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  padding: 6px 12px;
  border: none;
  min-width: 90px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.section button:hover {
  background-color: #555;
  color: #cc0a11;
  cursor: pointer;
}

#question-zone, #result-zone {
  display: none;
}

#scores-display {
  margin: 15px 0;
  font-size: 16px;
}

#scores-display h4 {
  color: #007015;
  font-weight: normal;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

#scores-display ul {
  list-style-type: none;
  padding: 0;
}

#scores-display li {
  margin: 5px 0;
}

#scores-display li.pass {
  color: #007015 !important;
}

#scores-display li.fail {
  color: #c0392b !important;
}

#result-message {
  font-size: 18px;
}

#result-message.pass {
  color: #007015;
}

#result-message.fail {
  color: #c0392b;
}