body {
  margin: 0;
  padding: 0;
  background-color: #adacac;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0.625rem;
  text-align: center;
}

#home-link {
  text-decoration: none;
  color: #fff;
}

h1 #home-link:hover {
  color: #c9c6c3;
  cursor: pointer;
}

#result-zone, #question-zone {
  overflow: hidden;
}

main h2 {
  text-align: center;
  font-family: fangsong;
  font-size: 1.8125rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 1rem 2rem;
}

.section {
  margin: 2rem auto;
  padding: 0.25rem 2rem 2rem;
  max-width: fit-content;
  border: 1px solid #2c3e50;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.section h3:first-child {
  font-size: 1.313rem;
  margin: 0 0 0.625rem;
  font-weight: normal;
  color: #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.section h3:not(:first-child) {
  font-size: 1.25rem;
  margin: 1.25rem 0 0.625rem;
  font-weight: normal;
  color: #000;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.section button {
  background-color: #2c3e50;
  color: #fff;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  padding: 0.4375rem 0.5rem;
  margin-right: 0.125rem;
  border: none;
  min-width: 7.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section button:hover {
  background-color: #334659;
  color: #c9c6c3;
  transform: translateY(-2px);
}

.section button:active {
  transform: translateY(0);
}

#question-zone, #result-zone {
  display: none;
}

#scores-display {
  margin: 0;
  font-size: 1rem;
}

#scores-display h4 {
  color: #000;
  font-weight: 600;
  font-size: 1.1875rem;
  margin-top: 0;
}

#scores-display ul {
  list-style-type: none;
  padding: 0;
}

#scores-display li {
  margin: 5px 0;
  font-weight: 600;
  font-size: 1.0625rem;
}

#scores-display li.pass {
  color: #007015 !important;
}

#scores-display li.fail {
  color: #c0392b !important;
}

#result-message {
  font-size: 1.125rem;
}

#result-message.pass {
  color: #007015;
}

#result-message.fail {
  color: #c0392b;
}

@media (max-width: 580px) {
  .section { padding: 0.25rem 0 2rem; }
  .btn-group { flex-wrap: nowrap; }
  .section button { width: 6.25rem; min-width: auto; font-size: 0.875rem; }
}

@media (max-width: 380px) {
  .btn-group {
    flex-direction: column;
    align-items: center;
  }

  .section { 
    padding: 1rem 2rem 2rem;
  }
  
  .section button {
    width: 90%;
    max-width: 12rem;
  }

  #b1, #b2 {
    padding: 0.4375rem 0.8rem;
    margin-bottom: 0.625rem;
  }
}